---
import { getCollection } from "astro:content";
import { ArrowLeft } from "@/components/icon";
import TypedNotes from "@/components/TypedNotes.astro";
import MainLayout from "@/layout/MainLayout.astro";

const allNotes = await getCollection(
	"notes",
	(notes) => notes.data.isDraft === false,
);
---

<MainLayout title="Notes | Enzo Bustamante">
    <section class="flex flex-col gap-3">
        <a class="text-sm tracking-wide  font-serif italic text-text dark:text-text  md:fixed md:top-1/4 md:left-20 flex gap-1 hover:text-accent dark:hover:text-accent transition-all" href="/"> <ArrowLeft className="w-4 h-4" /> Index</a>
        <ul>
            {
                allNotes.map((note) => (
                    <li>
                        <TypedNotes notes={note} />
                    </li>
                ))
            }
        </ul>
    </section>
</MainLayout>
