---
import { useTranslations } from "../i18n";
import MainLayout from "../layout/MainLayout.astro";

const locale = Astro.currentLocale ?? "es";
const t = useTranslations(locale);
---

<MainLayout>

  <h1>{t.index.title}</h1>
  <p>{t.index.description}</p>
</MainLayout>